
.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: static;  
}
#header {
    padding: 150px;
    height: 101px;
    border-radius: 75px;

}
#Pk{
    color: rgb(255, 255, 255);
    text-align: center;   
}
#P{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #181f27;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff5100;
    background-image:url("R.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 30s infinite;

}
@keyframes slide{
    50% {
        background-image: url("R (1).jfif");
        background-size: cover;
    }
}
footer{
    height: 120px;
    color: rgb(255, 255, 255);
    margin-left: -100.9px; 
    margin-right: -6.9px;
    float: left;
    display: table;
    margin-top: -150px;
}
.rows{
    width: 15%;
    float: left;
    margin-right: 10px;
    min-height: 155vh;
    margin-left: 2.5%;
   position:static;
   display:table;
  
    }  
#S{
    color:red;
    float: left;
    min-height: 155vh;
    margin-left: -17.8vw;
   position:static;
   display:table;
    
}
#skills ,#interests,#experience,#education,#B,#projects{
    color: rgb(106, 248, 70);
}
#A{
    text-align: center;
}
#K{
    border-radius: 75px;
    border:solid #ff5100;
}

.row{
    display: inline-block;
    text-align: center;
}
#C{
    margin-left: 16.3%;
}
#M{
    float: left;
    min-height: 155vh;
    margin-left: -17.5vw;
   position:static;
   display:table;
   margin-top: 40px;    
}

